<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>admin</title>
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/common.css">
    <link rel="stylesheet" href="styles/admin.css">
    <link rel="stylesheet" href="styles/themes.css">
  </head>
  <body>
    <div class="header">
      <ul>
          <li><a href="logout">Logout</a></li>
          <li><a href="adminhomepage">Admin Homepage</a></li>
          <li><a href="addnewadmin">Add New Admin</a></li>
          <li><a href="viewcustomersdetail">View Customer Details</a></li>
          <li><a href="updatetiers">Update Available Tiers</a></li>
      </ul>
    </div>
      
    <div class="main">
        <div class="content admin_content">
          <div class="top">
        <div class="content_title">Admin Home page</div>
          <div class="adminbuttons">
            <ul>
                <div class = "place_order">
                    <!-- <a href="currentorders"><span>Place an Order</span></a> -->
                    <h2>Place an order</h2>
                    <form action="adminhomepage" method="post">
                       Twitter Handle: <input type="text" name="tname"><br>
                       Pick Up Location: <input type = "text" name = "pickuplocation"><br>
                       Destination:<input type="text" name="destination"><br>
                       Time:<input type="datetime-local" name="datetime"><br>
                       Tier ID:<input type="number" min = "1" max = "3" name = "tier_id"><br>
                       <input type="submit" value="Submit">
                    </form>
                    <div class="notes">
                        <p>Key for Tiers: </p>
                        <p>1 - Standard</p>
                        <p>2 - Extra</p>
                        <p>3 - Luxury</p>
                    </div>
                </div>
               
                <div class = "view_tweets">
                   <!-- <a href="viewincomingtweets"><span>View incoming Tweets</span></a> -->
                    <h2>Incoming Tweets</h2>
                   
                    <table boarder = "1">
                        <tr>
                            <th>User</th>
                            <th>Tweet</th>
                        </tr>
                        
                        <%$tweets.each do |tweet|%>                          
                        <tr>
                             <td>
                                <a href ="<% tweet.user.uri %>">
                                    <%= tweet.user.screen_name %>
                                </a>
                            </td>
                            <td>
                                <%= tweet.text%>
                            </td>
                         </tr>
                        <%end%>
                    </table>
                </div>
                
                <div>
                    <form action="twitterReply" target="_blank" method="post">
                        Twitter Handle: <input type="text" name="tHandle">
                        Reply: <input type="text" name="text">
                        <input type="submit" value="submit">
                    </form>
                </div> 
                
                <div class = "currentordersdisplay">
                    <h2>Current Orders</h2>
                   <!-- <form action="adminhomepage" target="_blank" method="get"></form>  -->
                    <table>
                          <tr>
                            <th>User ID</th>
                            <th>Pick up</th>
                            <th>Destination</th>
                            <th>Time</th>
                            <th>Tier ID</th>
                            <th>Status</th> 
                          </tr>
                            <% $results.each do |element| %>
                                   <tr>
                                     <td><%=h element[0]%> </td>
                                     <td><%=h element[1]%> </td>
                                     <td><%=h element[2]%> </td>
                                     <td><%=h element[3]%> </td>  
                                     <td><%=h element[4]%> </td>     
                                     <td>
                                         <select id = "statusValue">
                                             <option value="progress">In progress</option>
                                             <option value="completed">Completed</option>
                                             <option value="cancel">Cancel</option>
                                         </select>
                                     </td>  
                                       
                                   </tr>
                            <% end %>  
                     </table>   
              </div>
                
            </ul>
              
          </div>

        </div>
        </div>
      </div>
  </body>
</html>
